<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECOLE – SIMM SAS | @ViewData["Title"] </title>
    <link href="~/img/icono.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>+57 350 679 7748</small>
                    <small class="px-3">|</small>
                    <small class="ocultar-en-movil"><i class="fa fa-envelope mr-2"></i>ecole@ecole.com.co</small>
                    <small class="px-3 ocultar-en-movil">|</small>
                    <a class="text-white px-2"
                       href="https://wa.me/573506797748?text=¡Buenos días Ecole! Quisiera información sobre sus servicios."
                       target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="text-white px-2" href="https://www.instagram.com/ECOLE.SA"><i class="fab fa-instagram"></i></a>
                    <a class="text-white px-2" href="mailto:ecole@ecole.com.co"><i class="fas fa-inbox"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a href="#" class="navbar-brand ml-lg-3">
                <img src="~/img/logo-ecole.png" alt="logo" width="140" />
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <a asp-page="/Index" class="nav-item nav-link active">Inicio</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Servicio</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a asp-page="/ServiceOne" class="dropdown-item"><img src="~/img/icono.ico" width="20px" class="mr-2" /> Gestión Integral de Residuos</a>
                            <a asp-page="/ServiceTwo" class="dropdown-item"><img src="~/img/icono.ico" width="20px" class="mr-2" />Logística de Transporte de Residuos</a>
                            <a asp-page="/ServiceThree" class="dropdown-item"><img src="~/img/icono.ico" width="20px" class="mr-2" />Suministro de Mano de Obra In House</a>
                            <a asp-page="/ServiceFour" class="dropdown-item"><img src="~/img/icono.ico" width="20px" class="mr-2" />Soluciones Ambientales a la Medida</a>
                        </div>
                    </div>
                    <a asp-page="/About" class="nav-item nav-link">Nosotros</a>
                    <a asp-page="/Contact" class="nav-item nav-link">Contacto</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Software OLA</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="https://ola.ecole.com.co" class="dropdown-item"><img src="~/img/icono.ico" width="20px" class="mr-2" />Iniciar Sesión</a>
                        </div>
                    </div>
                </div>
                <a asp-page="/Contact" class="btn btn-primary py-2 px-4 d-none d-lg-block">Obtener cotización gratuita</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <a href="https://wa.me/573506797748?text=¡Buenos días Ecole! Quisiera información sobre sus servicios." class="whatsapp-float" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white pt-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Contacto</h3>
                        @*<p><i class="fa fa-map-marker-alt mr-2"></i>Bogotá, Cra </p>*@
                        <p><i class="fa fa-phone-alt mr-2"></i>+57 350 679 7748</p>
                        <p><i class="fa fa-envelope mr-2"></i>ecole@ecole.com.co</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social" href="mailto:ecole@ecole.com.co"><i class="fas fa-inbox"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/ECOLE.SA"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social"
                               href="https://wa.me/573506797748?text=¡Buenos días Ecole! Quisiera información sobre sus servicios."
                               target="_blank">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Enlaces Rápidos</h3>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" asp-page="/Index"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                            <a class="text-white mb-2" asp-page="/About"><i class="fa fa-angle-right mr-2"></i>Sobre Nosotros</a>
                            <a class="text-white mb-2" asp-page="/Services"><i class="fa fa-angle-right mr-2"></i>Nuestros Servicios</a>
                            <a class="text-white" asp-page="/Contact"><i class="fa fa-angle-right mr-2"></i>Contáctenos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; Diseñado por <a href="https://procotec.com.co">procotec.com.co</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Privacidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Términos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" asp-page="/Contact">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/mail/contact.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
