@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Estamos en contrucción</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Próximo lanzamiento</a>.</p>
</div>
