@page
@model pct.ecole_front.Pages.ServiceThreeModel
@{
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Servicios</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" asp-page="/Index">Inicio</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Suministro de Mano de Obra In House</p>
        </div>
    </div>
</div>
<!-- Header End -->


<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid w-100" src="img/servicethree.png" alt="">
                <div class="bg-primary text-dark text-center p-4">
                    <h3 class="m-0">Personal capacitado y confiable</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <h6 class="text-primary text-uppercase font-weight-bold">Servicios Logísticos</h6>
                <h1 class="mb-4">Suministro de Mano de Obra In House</h1>
                <p class="mb-4">
                    Proveemos personal operativo altamente capacitado y confiable, especialmente asignado para trabajar directamente en las instalaciones del cliente. Nuestro equipo está preparado para apoyar eficientemente en los procesos internos relacionados con el manejo adecuado, clasificación y disposición de residuos, así como en diversas tareas logísticas vinculadas a la gestión ambiental.
                </p>
                <p class="mb-4">
                     Nos comprometemos a seguir rigurosamente las normativas vigentes y los protocolos de seguridad, garantizando operaciones seguras y responsables que contribuyen a la sostenibilidad y optimización de las actividades del cliente. Además, nuestro personal mantiene una comunicación constante con los responsables de cada empresa para asegurar una coordinación fluida y una respuesta rápida ante cualquier necesidad o contingencia.
                </p>
            </div>
        </div>
    </div>
</div>
