@page
@model pct.ecole_front.Pages.ServiceOneModel
@{
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Servicios</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" asp-page="/Index">Inicio</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Gestión Integral de Residuos</p>
        </div>
    </div>
</div>
<!-- Header End -->


<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid w-100" src="img/serviceone.png" alt="">
                <div class="bg-primary text-dark text-center p-4">
                    <h3 class="m-0">Residuos aprovechables, organicos</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <h6 class="text-primary text-uppercase font-weight-bold">Servicios Logísticos</h6>
                <h1 class="mb-4">Gestión Integral de Residuos</h1>
                <p class="mb-4">
                    Ofrecemos soluciones completas y eficientes enfocadas en la recolección, transporte y disposición final de residuos, garantizando el cumplimiento riguroso de la normatividad ambiental vigente. Nuestra gestión integral asegura la trazabilidad y el manejo responsable de cada tipo de residuo, minimizando el impacto ambiental y promoviendo prácticas sostenibles. 
                </p>
                <p class="mb-4">
                    Contamos con una moderna flota especializada, tecnología avanzada y un equipo profesional comprometido en brindar un servicio seguro, ágil y transparente, que se adapta a las necesidades específicas de cada cliente. Confía en nosotros para optimizar tu cadena logística y cumplir con tus objetivos ambientales y regulatorios, asegurando la protección de tu empresa y del entorno.
                </p>
            </div>
        </div>
    </div>
</div>
