<!-- Services Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Nuestros Servicios</h6>
            <h1 class="mb-4">Los mejores servicios logísticos</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fas fa-2x fa-dumpster text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Gestión Integral de Residuos</h6>
                </div>
                <p>Servicios enfocados en la recolección, transporte y disposición final de residuos, alineados con la normatividad ambiental vigente.</p>
                <a class="border-bottom text-decoration-none" asp-page="/ServiceOne">Leer Más</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-truck text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Logística de Transporte de Residuos</h6>
                </div>
                <p>Operación de rutas eficientes y personalizadas para el traslado de residuos desde su punto de origen hasta el destino final autorizado.</p>
                <a class="border-bottom text-decoration-none" asp-page="/ServiceTwo">Leer Más</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-user-plus text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Suministro de Mano de Obra In House</h6>
                </div>
                <p>Proveemos personal operativo capacitado y confiable directamente en las instalaciones del cliente, para apoyar procesos internos relacionados con el manejo de residuos o tareas logísticas.</p>
                <a class="border-bottom text-decoration-none" asp-page="/ServiceThree">Leer Más</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-store text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Soluciones Ambientales a la Medida</h6>
                </div>
                <p>Acompañamos a empresas que buscan disminuir su impacto ambiental pero no saben por dónde empezar. Creamos estrategias realistas, enfocadas en el cambio progresivo.</p>
                <a class="border-bottom text-decoration-none" asp-page="/ServiceFour">Leer Más</a>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
