<!-- Features Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid w-100" src="img/feature.jpg" alt="">
            </div>
            <div class="col-lg-7 py-5 py-lg-0">
                <h6 class="text-primary text-uppercase font-weight-bold">¿Por qué elegirnos?</h6>
                <h1 class="mb-4">Servicios Logísticos Rápidos, Seguros y Confiables</h1>
                <p class="mb-4">
                    Nacimos con un propósito claro: ser parte de la solución ambiental, no del problema.
                    En ECOLE - SIMM brindamos servicios de gestión de residuos, logística y operación in house para empresas que quieren reducir su impacto ambiental pero necesitan aliados confiables.
                    Creemos en el poder del trabajo bien hecho, en el trato digno y en crecer juntos: empresa, colaboradores y clientes.
                </p>
                <ul class="list-inline">
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Creciendo junto a ti</h6>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Servicios a la medida</h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Atención personalizada</h6></li>
                </ul>
                <a asp-page="/About" class="btn btn-primary mt-3 py-2 px-4">Aprender Más</a>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->